{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}


<div class="content-section pt-4">
    <div class="col-lg-4 mx-auto shadow p-0">

        <div class="alert alert-info">
            <h2>Password Reset confirm</h2><hr>
            <p>Please enter your Password.</p>
        </div>

        <div class="p-4">
            {% load crispy_forms_tags %}
            <form method="POST">
               
                {% csrf_token %}
                    
                {{ form|crispy }}

                <hr>
        
                <button class="btn btn-success" type="submit">Reset Password</button>
            </form>
        </div>
       
    </div>
    
</div>

{% endblock %}